<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>
<h1><%= "Mi cuenta es: #{@count}"%></h1>
  <form action="/count" method="post">
    <input type="submit" value="Suma!!">
    <input type="hidden" name="count" value=<%= "#{@count}"%> />
</form>


</body>
</html>
